@import url(https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@500&display=swap);

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Bai Jamjuree', sans-serif;
}
body{
    background-color: #333;
}
.navbar{
    width: 100%;
    background-color:rgb(240, 110, 110);
}
.ul-navbar {
    list-style:none;
    display:table;
    width: 100%;
    text-align: center;
}
.ul-navbar li{
    display: table-cell;
}
.menu-list a{
    display: block;
    padding: 20px;
    color: white;
    text-decoration: none;
}
.menu-list  a:hover{
    background-color: rgb(175, 59, 59);
}
.content{
    width: 100%;
    float: left;
}
.artical{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;border-radius: 10px;
    margin-top: 5%;
    padding-bottom: 50px;
   }
.profile-img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    float: left;
}
.img-gallery{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    float: left;
}
.about-me{
    padding-top: 20px;
}
.title{
    color: white;
    font-size: 50px;
    font-weight: bold;
}
.position{
    font-size: 15px;
    color: rgb(225, 247, 104);
}
.detail{
    color: #b2b8bd;
}
.text-align-left{
    text-align:left;
}
.text-test{
    text-align: justify;
}
.margin-row-t{
    width: 50%;
}
.font-bold{
    font-weight: bold;
}
.row-50{
    width: 50%;
}
.left{
    float: left;
}
.right{
    float: right;
}
.margin-auto{
    display: flex;
    justify-content: center;
}
.margin-top-2{
    margin-top: 20px;
}
.btn{
    border: none;
    padding: 10px;
}
.btn-radius{
    border-radius: 30px;
}
.btn-primary{
    color: #fff;
    background-color: #0f81fc;
    border-color: #0f81fc;
}
.btn-primary:hover{
    background-color: #0d68c9;
}
.btn-outline-yellow{
    color: white;
    border: 1px solid yellow;
    background: transparent;
}
.text-center{
    text-align: center;
}
.btn-outline-yellow:hover{
    color: #df3636;
    background-color: yellow;
}
.btn:hover{
    cursor: pointer;
}
.bg-user{
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    color: black;
}
.ul-menu li{
    text-decoration: none;
    list-style: none;
    display: inline-block;
}
.bg-white{
    background-color: white;
}
.bg-green{
    background-color: green;
}
.bg-red{
    background-color: #b63d42;
}
.skill-menu > ul > li > a{
    margin-right: 20%;
    border: 1px solid #b63d42;
    border-radius: 5px;
    background-color: #b63d42;
    color: whitesmoke;
}
.table-cut{
    border-radius: 10px;
}
.table-cute   td{
   padding: 10px;
}
@media only screen and (max-width: 1028px) {
    .ul-navbar li{
        display: block;
    }
    .profile-img{
        width: 150px;
        height: 150px;
    }
    .row-50{
        width: 100%;
    }
    .title{
        text-align: center;
    }
    .ul-menu li {
        display: block;
        width: 100%;
        padding: 10px;
    }
    .ul-menu > li > .btn{
        width: 100%;
    }
    .ul-menu > li > .btn-radius{
        border-radius: 10px;
    }
    .title{
        font-size: 40px;
    }
    .position{
        text-align: center;
        font-size: 13px;
    }
    .detail{
        text-align:center;
    }
  }
